.container {
    position: relative;
    left: 34.5rem;
    display: grid;
    max-width: 40rem;
}
.banner {
    padding: 3rem 7.5rem 6.25rem;
    background-color: var(--azul-escuro);
    color: var(--branco);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 
.titulo {
    font-family: var(--fonte-secundaria);
    font-size: 4rem;
    margin-top: 4.875rem;
    margin-bottom: 2rem;
}
 
.paragrafo {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}
 
.imagens {
    position: relative;
    height: 406px;
}
 
.imagens > .minhaFoto {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18vw;
    border-radius: 50%;
}
 
.imagens > .circuloColorido {
    position: absolute;
    right: 7vw;
    bottom: 2.2vw;
    width: 25vw;
}
 
@media (max-width: 2560px) {
    .banner {
        padding: 3rem 7.5rem 6.25rem;
        
    }

    .titulo {
        font-size: 4rem;
        margin-top: 4.875rem;
        margin-bottom: 2rem;
    }

    .paragrafo {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }

    .imagens {
        height: 400px;
    }

    .imagens > .minhaFoto {
        position: relative;
        left: -2.5svw;
        width: 11vw;
        bottom: -1.05vw;
        margin-bottom: 35px;
    }

    .imagens > .circuloColorido {
        position: relative;
        margin-bottom: 50px;
        left:7vw;
        bottom: 0.5vw;
        width: 13vw;
    }
}

@media (max-width: 1920px) {    
    .banner {
        padding: 3.5rem ;
    }
 
    .titulo {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
 
    .paragrafo {
        margin-bottom: 1.5rem;
        
    }
 
    .imagens {
        height: 338px;
    }
   
    .imagens > .minhaFoto {
        width: 14vw;
        position: relative;
        left: -10rem;
        top: -2.5rem;
    }
   
    .imagens > .circuloColorido {
        top: -2.5rem;
        right: 10vw;
        width: 17vw;
    }
}

@media (max-width: 1440px) {  
    .container {
        position: relative;
        left: 4rem;
        display: grid;
        max-width: 40rem;
    }
    
    .banner {
        padding: 3.5rem ;
    }
 
    .titulo {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
 
    .paragrafo {
        margin-bottom: 1.5rem;
      
        
    }
 
    .imagens {
        height: 400px;
    }
   
    .imagens > .minhaFoto {
        top: -1rem;
        width: 21vw;
        position: relative;
        left: -6rem;
    }
   
    .imagens > .circuloColorido {
        left: 12.5rem;
        width: 22rem;
        top: -1.5rem;
    }
}

@media (max-width: 1080px) {    
    .banner {
        padding: 3.5rem ;
    }
 
    .titulo {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
 
    .paragrafo {
        margin-bottom: 1.5rem;
    }
 
    .imagens {
        height: 338px;
    }
   
    .imagens > .minhaFoto {
        width: 20vw;
        position: relative;
        top: -18rem;
        left: 8rem;
    }
   
    .imagens > .circuloColorido {
        padding-top: 2rem;
        right: 10vw;
        width: 25vw;
    }
}

@media (max-width: 1024px) {    
    .banner {
        padding: 3.5rem ;
    }
 
    .titulo {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
 
    .paragrafo {
        margin-bottom: 1.5rem;
    }
 
    .imagens {
        height: 338px;
    }
   
    .imagens > .minhaFoto {
        width: 26.5vw;
        position: relative;
        top: -21rem;
        left: 9rem;
    }
   
    .imagens > .circuloColorido {
        top: -2rem;
        left: 5rem;
        width: 30vw;
    }
}
 
@media (max-width: 744px) {
    .banner {
        padding: 2rem 1rem;
        display: block;
    }
 
    .titulo {
        margin-bottom: 2rem;
    }
 
    .paragrafo {
        margin-bottom: 2rem;
    }
 
    .imagens {
        height: 307px;
    }
 
    .imagens > .minhaFoto, .imagens > .circuloColorido {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
   
    .imagens > .minhaFoto {
        width: 170px;
        transform: translate(5rem, 0px);
    }
   
    .imagens > .circuloColorido {
        width: 240px;
        transform: translate(-1.5rem, 0px);
    }
}
@media (max-width: 450px) {
    .banner {
        padding: 2rem 1rem;
        display: block;
    }
 
    .titulo {
        margin-bottom: 2rem;
    }
 
    .paragrafo {
        margin-bottom: 2rem;
    }
 
    .imagens {
        height: 307px;
    }
 
    .imagens > .minhaFoto, .imagens > .circuloColorido {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
   
    .imagens > .minhaFoto {
        width: 195px;
        transform: translate(5rem, 0px);
        position: relative;
        top: -95%;
        left: -10%;
    }
   
    .imagens > .circuloColorido {
        width: 240px;
        transform: translate(-1.5rem, 0px);
    }
}
