.banner {
    padding: 3rem 7.5rem 6.25rem;
    background-color: var(--azul-escuro);
    color: var(--branco);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 
.titulo {
    font-family: var(--fonte-secundaria);
    font-size: 4rem;
    margin-top: 4.875rem;
    margin-bottom: 2rem;
}
 
.paragrafo {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}
 
.imagens {
    position: relative;
    height: 406px;
}
 
.imagens > .minhaFoto {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18vw;
    border-radius: 50%;
}
 
@media (max-width: 2560px) {
    .banner {
        padding: 3rem 7.5rem 6.25rem;
        
    }

    .titulo {
        position: relative;
        font-size: 4rem;
        top: 1rem;
        margin-bottom: 2rem;
        margin-left: 30rem;
        left: 6rem;
    }

    .paragrafo {
        position: relative;
        top: 1rem;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        margin-left: 30rem;
        left: 6rem;
    }

    .imagens {
        height: 25rem;
    }

    .imagens > .minhaFoto {
        position: relative;
        left: 15rem;
        width: 20rem;
        top: 2rem;  
    }

}

@media (max-width: 1920px) {    
    .banner {
        padding: 3.5rem ;
    }
 
    .titulo {
        position: relative;
        font-size: 4rem;
        top: 3rem;
        margin-bottom: 2rem;
        margin-left: 10rem;
        left: 8rem;
    }

    .paragrafo {
        position: relative;
        top: 3rem;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        margin-left: 10rem;
        left: 8rem;
    }
 
    .imagens {
        height: 25rem;
    }
   
    .imagens > .minhaFoto {
        width: 18rem;
        position: relative;
        left: 15rem;
        bottom: 1rem;
    }

}

@media (max-width: 1440px) {  
    
    .banner {
        padding: 3.5rem ;
    }
 
    .titulo {
        position: relative;
        font-size: 4rem;
        top: -2rem;
        margin-left: 3rem;
        left: 6rem;
    }

    .paragrafo {
        position: relative;
        top: -2rem;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-left: 3rem;
        left: 6rem;
    }
 
    .imagens {
        height: 25rem;
    }
   
    .imagens > .minhaFoto {
        top: 3rem;
        width:18rem;
        position: relative;
        left: 12rem;
    }
   
}

@media (max-width: 1024px) {    
    .banner {
        padding: 3.5rem ;
    }
 
    .titulo {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
 
    .paragrafo {
        margin-bottom: 1.5rem;
    }
 
    .imagens {
        height: 338px;
    }
   
    .imagens > .minhaFoto {
        width: 26.5vw;
        position: relative;
        top: 1rem;
        left: 10rem;
    }
   
}
 
@media (max-width: 744px) {
    .banner {
        padding: 2rem 1rem;
        display: block;
    }
 
    .titulo {
        margin-bottom: 2rem;
    }
 
    .paragrafo {
        margin-bottom: 2rem;
    }
 
    .imagens {
        height: 307px;
    }
 
    .imagens > .minhaFoto, .imagens > {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
   
    .imagens > .minhaFoto {
        width: 170px;
        transform: translate(5rem, 0px);
    }
   
}
@media (max-width: 450px) {
    
    .container {
        width: 10vw; 
        height: 40vh; 
        display: flex;
        align-items: stretch;
        
    }
    .titulo {
        position: relative;
        top: 1rem;
        left: 1rem;
        margin-bottom: 2rem;
        width: 100%;
        max-width: 100%;
    }
 
    .paragrafo {
        position: relative;
        top: 1rem;
        left: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        max-width: 100%;
        word-break: keep-all;
    }
 
    .imagens {
        height: 307px;
    }

    .imagens > .minhaFoto {
        width: 14rem;
        position: relative;
        top: 5rem;
        left: 1rem;
    }
   
}